#Xamarin.Forms 
#https://github.com/xamarin/Xamarin.Forms/blob/master/.gitignore
bin
obj
classic_bin
classic_obj
*.dll
*.mdb
*.exe
*.log
*.userprefs
*.suo
_docs.xml
UpgradeLog*
docs/*.xml
.nuspec/*.nupkg
*UpgradeReport*
*.user
*.DS_Store
*.ide
.vs
*.designer.cs
*project.lock.json
!*ControlResources*.designer.cs
!*Resources.Designer.cs
!Xamarin.Forms.VSTemplate/**/*.designer.cs
!NuGet.exe
*test-results*
*/PerfLogs/*
*.sap
/packages
!.xamarin-component/**
*.xam
Components/
!GooglePlayServices/**
.irb-history
screenshot_*
!Xamarin.Forms.Addin/libs/**
!Xamarin.Forms.Addin/Packages/Xamarin.Forms.*.nupkg
*.remove
*/.metadata/*
AndroidNative/FormsViewGroup/gen/com/xamarin/formsviewgroup/R.java
AndroidNative/FormsViewGroup/gen/com/xamarin/formsviewgroup/BuildConfig.java
*.psess
TestResults/
Xamarin.Forms.UITest.Validator/UITestCoverage/index.html
!Xamarin.Forms.UITest.TestCloud/test-cloud.exe
Xamarin.Forms.ControlGallery.Windows/AppPackages/
Xamarin.Forms.ControlGallery.WindowsPhone/AppPackages/
Xamarin.Forms.ControlGallery.WindowsUniversal/AppPackages/
Xamarin.Forms.ControlGallery.WindowsUniversal/BundleArtifacts/
Xamarin.Forms.Controls/secrets.txt
Xamarin.Forms.Controls/controlgallery.config
Xamarin.Forms.ControlGallery.Android/Properties/MapsKey.cs
*.tss
*.bak
AndroidNative/local.properties
AndroidNative/FormsViewGroup/build/
AndroidNative/build/
AndroidNative/.gradle/
AndroidNative/gradlew
AndroidNative/gradlew.bat
!EmbeddingTestBeds/Embedding.iOS/*.designer.cs
# temporary vim files
*.swp


#Android
# Built application files
RztmDroid/*.apk
RztmDroid/*.ap_
RztmDroid/*.aab

# Files for the ART/Dalvik VM
RztmDroid/*.dex

# Java class files
RztmDroid/*.class

# Generated files
RztmDroid/bin/
RztmDroid/gen/
RztmDroid/out/
#  Uncomment the following line in case you need and you don't have the release build type files in your app
# release/

# Gradle files
RztmDroid/.gradle/
RztmDroid/build/

# Local configuration file (sdk path, etc)
RztmDroid/local.properties

# Proguard folder generated by Eclipse
RztmDroid/proguard/

# Log Files
RztmDroid/*.log

# Android Studio Navigation editor temp files
RztmDroid/.navigation/

# Android Studio captures folder
RztmDroid/captures/

# IntelliJ
*.iml
RztmDroid/.idea/workspace.xml
RztmDroid/.idea/tasks.xml
RztmDroid/.idea/gradle.xml
RztmDroid/.idea/assetWizardSettings.xml
RztmDroid/.idea/dictionaries
RztmDroid/.idea/libraries
# Android Studio 3 in .gitignore file.
RztmDroid/.idea/caches
RztmDroid/.idea/modules.xml
RztmDroid/.idea/vcs.xml
# Comment next line if keeping position of elements in Navigation Editor is relevant for you
RztmDroid/.idea/navEditor.xml

# Keystore files
# Uncomment the following lines if you do not want to check your keystore files in.
#*.jks
#*.keystore

# External native build folder generated in Android Studio 2.2 and later
RztmDroid/.externalNativeBuild

# Google Services (e.g. APIs or Firebase)
# google-services.json

# Freeline
RztmDroid/freeline.py
RztmDroid/freeline/
RztmDroid/freeline_project_description.json

# fastlane
RztmDroid/fastlane/report.xml
RztmDroid/fastlane/Preview.html
RztmDroid/fastlane/screenshots
RztmDroid/fastlane/test_output
RztmDroid/fastlane/readme.md

# Version control
RztmDroid/vcs.xml

# lint
RztmDroid/lint/intermediates/
RztmDroid/lint/generated/
RztmDroid/lint/outputs/
RztmDroid/lint/tmp/
# lint/reports/
